.main_container{
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding: 3%;
}

.team{
    border: 1px solid red;
    padding: 1%;
}

.cart{
    border: 1px solid green;
    padding: 1%;
    margin-left: 5%;
}