.main_container{
    background-color: rgb(238, 236, 234);
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding: 3%;
}

.team{
    padding: 1%;
}

.cart{
    padding-left: 5%;
    margin-left: 5%;
}
