.header_Section{
    margin: 0 auto;
    background-color: rgb(2, 48, 32);
    color: azure;
    text-align: center;
    line-height: 15px;
    padding: 2%;
}

.header_Section h2 span{
    color: rgb(152, 110, 192);
    text-emphasis-style: inherit;
}